html{box-sizing:border-box;font-size:16px;}*,*:before,*:after{box-sizing:inherit;}body,h1,h2,h3,h4,h5,h6,p,ol,ul{margin:0;padding:0;font-weight:normal;}ol,ul{list-style:none;}img{max-width:100%;height:auto;}

#graph {
    width: 100%;
    height: 550px;
    border: 1px solid #000;
}
#graph circle {
    cursor: pointer;
    fill: #555;
}
#graph circle.in-progress {
    fill: #64a9c2
}
#graph circle.complete {
    fill: #6fc1a3
}
#graph circle.over {
    fill: #c66262
}
#graph circle.selected {
    fill: #c18234;
}
#graph text {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: -2px -2px 2px #fff, -2px 0px 2px #FFF, 0px 0px 1px #fff, 0px 2px 1px #fff, 2px 2px 1px #fff;
}
#graph line {
    stroke: #2d2dd4;
    cursor: pointer;
}
#graph .edge-label {
    fill: #a55;
}

#edges {
    border: 1px solid #666;
    padding: 1rem;
}
#edges .edge {
    display: inline-block;
    width: 130px;
    background-color: #99c;
    margin: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}
@media (min-width: 700px) {
    #edges .edge {
        width: 200px;
    }
}
#edges .selected {
    background-color: #a55;
}
#edges .used {
    background-color: #bbb;
    color: #888;
}
