html{background:#fff;box-sizing:border-box;font-size:16px;}body{background:#fff}*,*:before,*:after{box-sizing:inherit;}body,h1,h2,h3,h4,h5,h6,p,ol,ul{margin:0;padding:0;font-weight:normal;}ol,ul{list-style:none;}img{max-width:100%;height:auto;}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #666;
    margin-bottom: 1rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header nav li {
    margin: 0 0.7rem;
    cursor: pointer;
}
header nav li {
    width: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
}
#help {
    width: 2.1rem;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
}

#message {
    position: absolute;
    top: -1000px;
    left: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    background: rgba(80, 100, 170, 0.5);
    color: #fff;
    text-shadow: 1px 1px 2px #666;
    width: 100%;
}
#message.warning {
    color: #000;
    background: rgba(198, 198, 112, 0.5);
}
#message.error {
    color: #000;
    background: rgba(210, 100, 100, 0.5);
}

#shield {
    display: none;
    background-color: rgba(80, 100, 170, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
dialog {
    top: 10%;
    width: 90%;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}
dialog p, dialog fieldset {
    margin: 0.7rem 0;
}
dialog fieldset {
    padding: 1rem;
}
dialog select, dialog button {
    font-size: 1.2rem;
}
dialog button {
    font-size: 1.2rem;
    background-color: #bdcbec;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    border: 1px solid #666;
    text-align: center;
    box-shadow: 1px 1px 8px #aaa;
}

dialog fieldset {
    display: flex;
    justify-content: space-around;
}
.snapshot {
    width: 100%;
    height: 400px;
    border: 1px solid #444;
}
.snapshot *  {
    cursor: inherit;
}
#hint-modal .snapshot {
    margin-top: 0.5rem;
}


main {
    position: relative;
}
main.dialog-open {
    filter: blur(3px) grayscale(1);
}
main section {
    margin: 0;
    border: 1px solid #000;
}

main nav {
    font-size: 1.1rem;
}
main nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main nav li {
    background-color: #bdcbec;
    padding: 0.2rem 0;
    cursor: pointer;
    width: 25%;
    border-left: 1px solid #000;
    text-align: center;
    box-shadow: 1px 1px 8px #aaa;
}
main nav li:last-child {
    border-right: 1px solid #000;
}

#graph {
    width: 100%;
    height: 550px;
}
circle {
    cursor: pointer;
    fill: #555;
}
circle.in-progress {
    fill: #7598a4
}
circle.complete {
    fill: #4c8f65
}
circle.over {
    fill: #bd4242
}
circle.selected {
    fill: #c18234;
}
text {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: -2px -2px 2px #fff, -2px 0px 2px #FFF, 0px 0px 1px #fff, 0px 2px 1px #fff, 2px 2px 1px #fff;
}
line {
    stroke: #2d2dd4;
    cursor: pointer;
}
line.revealed {
    stroke: #287853;
}
.edge-label {
    fill: #a55;
    font-size: 1.2rem;
    cursor: pointer;
}


#edge-container {
    padding-top: 1rem;
}
#edges {
    padding: 1rem;
    text-align: center;
}
#edges .edge {
    display: inline-block;
    width: 4rem;
    margin: 0.3em;
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    padding: 0.2rem;
}
#edges .edge::after {
    display: block;
    content: "";
    background-color: #99c;
    width: 2rem;
    position: absolute;
    top: 0.5rem;
    left: 1.2rem;
    height: var(--weight);
}
@media (min-width: 700px) {
    #edges .edge {
        width: 100px;
    }
    #edges .edge::after {
        width: 75px;
        left: 25px;
    }
}
#edges .selected::after {
    background-color: #a55;
}
#edges .used {
    color: #888;
}
#edges .used::after {
    background-color: #bbb;
}
