html,body {background-color:#000;margin:0;padding:0;color:#fff}
body * {margin:0;padding:0;}

body > header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    position: fixed;
    width: 100%;
    background: #000;
    z-index: 9;
}

h1 {
    font-size: 1.4rem;
    margin: 0.5rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

nav li {
    list-style: none;
    margin-left: 1.3rem;
    font-size: 1.4rem;
}

nav a {
    color: #ccc;
    text-decoration: none;
}

main {
    padding: 2rem 0 1rem 0;
}

main nav ul {
    justify-content: flex-start;
}

main nav li {
    margin: 0 1rem 0 0;
}

.content {
    margin-top: 2rem;
}

article {
    padding: 2rem 0 1rem 0;
    border-bottom: 4px solid #fff;
}

article.read {
    color: #ccc;
}

article h2 {
    padding: 0 0.5rem;
}

article h2 a {
    color: #fff;
    text-decoration: none;
}

article.read h2 a {
    color: #ccc;
}

article .image {
    position: relative;
}

article .image .alt-trigger {
    display: flex;
    position: absolute;
    bottom: 0.3rem;
    right: 0.3rem;
    font-size: 1.5rem;
    background: #00000044;
    width: 2.3rem;
    border-radius: 50%;
    justify-content: center;
    padding-bottom: 0.3rem;
    z-index: 8;
    color: #dddddd99;
}
article img[alt=""]+.alt-trigger {
    display: none;
}

article .alt-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 1rem);;
    background-color: #00000088;
    color: #fff;
    padding: 0.5rem;
    display: none;
}

article img {
    width: 100%;
}

article.read img {
    filter: grayscale(0.5);
}

article p {
    font-size: 1.2rem;
    text-align: justify;
}

article .category {
    float: right;
    clear: both;
    background-color: #555;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
}

article footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed #999;
    margin-top: 0.5rem;
    padding: 0.5rem;
}
article footer nav {
    font-size: 1.3rem;
}

body > footer {
    text-align: center;
    margin: 1rem 0;
}

.cache-size {
    font-weight: bold;
}

#shadow-source {
    position: absolute;
    right: 99999px;
    top: 99999px;
    opacity: 0;
}