<meta charset='utf-8'>
<meta name='content-type' content='text/html; charset=utf-8'>
<title>{{ site }}{{#if windowsubtitle }} - {{windowsubtitle}}{{/if}}</title>
<meta name='description' content='{{ description }}'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link href='/css/vendor/barekit.min.css' rel='stylesheet'>
<link href='/__pagefind/pagefind-ui.css' rel='stylesheet'>
<link href='/css/main.css' rel='stylesheet'>
<link href='/rss' rel='alternate' type='application/rss+xml'>
