<header class="row sm-12 top-sticky">
    <h1 class="left">So long, and thanks for all the fish</h1>
    <a href="#" aria-controls="off-canvas-nav" class="off-canvas-trigger-right hide-md right"><i class="icon-menu"></i></a>
    {{> searchform }}
    <nav id="off-canvas-nav" class="off-canvas-right no-bullets text-center">
        {{> searchform }}
        {{> mainnav }}
    </nav>
    <nav class="show-md no-bullets right">
        {{> mainnav }}
    </nav>
</header>
