<ul>
    <li><a href="/"><i class="icon-book-open"></i>Blog</a></li>
    <li><a href="/events"><i class="icon-megaphone"></i>Events</a></li>
    <li><a href="/profile"><i class="hobbes"></i>--verbose</a></li>
</ul>
