<aside class='sidebar speaking sm-12 md-3'>

    <h2>Upcoming Events</h2>

    <h2>Tag Cloud</h2>

    <section class='tag-cloud'>
        <ul>
        {{#each tagcloud}}
            <li class='tag tag-size-{{weightName}}'>
                <a href='/tag/{{ slug }}' title='See posts with the tag "{{ name }}"'>{{ name }}</a>
            </li>
        {{/each}}
        </ul>
    </section>

</aside>
