
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
}

body {
    position: relative;
    font-family: 'Fira Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-content {
    background: #fff;
    height: 100vh;
}

h2 {
    color: #bbb;
    margin: 0;
    font-size: 1em;
    position: absolute;
    top: 0.1em;
    right: 0.2em;
    z-index: 2;
    cursor: pointer;
}

.notes-list {
    display: none;
    z-index: 3;
    position: absolute;
    top: 1em;
    right: 0;
    padding: 0;
    text-align: right;
    list-style: none;
    background-color: #eee;
    overflow: hidden;
}
.notes-list li {
    padding: 0.3em 1em;
    min-width: 10em;
    border-bottom: 1px solid #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.notes-list li:hover {
    background-color: #ccc;
}

.edit-notes {
    display: block;
    margin: 0 auto;
    border: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0.2em 0.3em
}
.edit-notes:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.main-body {
    padding-top: 0;
}

