<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='content-type' content='text/html; charset=utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Feed Source</title>
        <meta name='description' content='A highly customized feed reader'>
        <link rel='stylesheet' href='/css/feed.css'>
    </head>

    <body>
        <header>
            <h1>Feed Source</h1>
            <nav>
                <ul>
                    <li><a href='?feed=news'>News</a></li>
                    <li><a href='?feed=comics'>Comics</a></li>
                </ul>
            </nav>
        </header>

        <main>Loading...</main>

        <footer><p>(end of feed)</p></footer>
        
        <script src='/js/feed.js'></script>
    </body>
</html>
