<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='content-type' content='text/html; charset=utf-8'>
        <title>jQuery Plugins by Jordan Kasper</title>

        <meta name='description' content='jQuery Plugins by Jordan Kasper.'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <link rel='stylesheet' href='/jquery-reset.css'>
        <link rel='stylesheet' href='/jquery-style.css'>

        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-18307662-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <main id='wrapper'>
            <header id='header'>
                <h1>
                    <img src='/images/jQuery_logo.png' alt='jQuery' height='45'>
                    Plugins
                    <cite>
                        by <a href='http://jordankasper.com'>Jordan Kasper</a>
                        <a href='http://twitter.com/jakerella' style='border-bottom:none; margin-left:0.7em;'>
                            <img src='/images/twitter.png' alt='Twitter' width='20' style='top:0.2em;'>
                        </a>
                    </cite>
                </h1>
            </header>

            <section id='content'>
                {{{ contents }}}
            </section>

            <footer id='footer'>
                <p id='copyright'>&copy; Jordan Kasper 2018</p>
                <p id='contact'>
                    <a href='ma&#105;lt&#111;:&#106;query&#064;&#106;&#111;rd&#97;nk&#97;sper.c&#111;m' title='Send an email to Jordan'>
                        &#106;query&#064;&#106;&#111;rd&#97;nk&#97;sper.c&#111;m
                    </a>
                </p>
            </footer>
        </main>
    </body>
</html>
