<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> head }}
    </head>

    <body data-slug='{{#if path}}{{ path }}{{else}}home{{/if}}' class='off-canvas-contain'>
        {{> header }}

        <section class='main-body row'>
            <article class='main-content sm-12 md-9'>

                {{{contents}}}

            </article>

            {{> sidebar }}
        </section>

        {{> footer }}

        {{> scripts }}
    </body>
</html>
