<!DOCTYPE html>
<html lang='en'>
    <head>
        {{> head }}
    </head>

    <body class='off-canvas-contain'>
        {{> header }}

        <section class='main-body row'>
            <section class='main-content recent-posts sm-12 md-9'>
                <a href='/rss' class='rss'><i class='icon-rss-squared'></i></a>

                {{#each posts}}
                    <article>
                        <h3><a href='/{{ path }}'>{{ title }}</a></h3>
                        <p>{{ path }} ({{ date }})</p>
                    </article>
                {{/each}}
            </section>

            <aside class='sidebar speaking sm-12 md-3'>
                <h2>Upcoming Events</h2>
            </aside>

            <nav class='paging'>

            </nav>
        </section>

        {{> footer }}

        <script src='//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='//cdn.rawgit.com/trevanhetzel/barekit/master/js/barekit.min.js'></script>
        <script src='/js/jk.js'></script>
    </body>
</html>
